<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="../../bundles/site.css" rel="stylesheet" />
    <link href="../../Content/Views/Shared/_site.css" rel="stylesheet" />
    <link href="../../Content/Views/Home/index.css" rel="stylesheet" />
    <script src="../../../_Common/Scripts/jquery/v1.12.4/jquery.min.js"></script>
    <script src="../../bundles/include-html.js"></script>
</head>

<body>
    <header id="header"></header>
    <div id="banner"></div>
    <div id="content">
    </div>
    <footer id="footer"></footer>
</body>

</html>