#banner {
  background-image: url("../Lobby/Board/banner.jpg");
}

ul.game-list > li {
  position: relative;
  width: 333px;
  height: 283px;
  margin: 6px;
  background-position: center top 60px;
  background-color: #444242;
  border-style: ridge;
  border-width: 2px;
  border-color: #FFBB00;
  -webkit-box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.7) inset;
  cursor: pointer;
}

ul.game-list > li:before {
  content: '';
  position: absolute;
  top: 60px;
  left: 16px;
  display: inline-block;
  width: 298px;
  height: 202px;
  background: url("../Lobby/Board/enter.png") no-repeat center top;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

ul.game-list > li:not([game-box='more']):hover:before {
  opacity: 1;
}

ul.game-list > li[game-box='more'] {
  cursor: default;
}

ul.game-list > li::after {
  content: '';
  width: 150px;
  height: 110px;
  right: 140px;
  top: -10px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 70% auto;
}

ul.game-list > li span {
  position: absolute;
  font-size: 21px;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  top: 10px;
  left: 150px;
}

ul.game-list > li div {
  position: absolute;
  font-size: 14px;
  color: #9A9796;
  text-shadow: 1px 1px 5px #000;
  top: 35px;
  left: 150px;
}

ul.game-list > li[game-box='more'] span {
  font-size: 24px;
  color: #777;
  width: 333px;
  height: 50px;
  left: 0;
  top: 150px;
  text-shadow: none;
}

ul.game-list > li[game-box='more'] div {
  font-size: 21px;
  color: #777;
  width: 333px;
  height: 50px;
  left: 0;
  top: 178px;
  text-shadow: none;
}

#lobby li[game-box='more'] {
  background-image: url("../lobby/Board/more.jpg");
}

#lobby li[game-box='more']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/more.png");
}

#lobby li[game-box='City761Board'] {
  background-image: url("../lobby/Board/City761Board.jpg");
}

#lobby li[game-box='City761Board']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/City761Board.png");
}

#lobby li[game-box='JdbBoard'] {
  background-image: url("../lobby/Board/JdbBoard.jpg");
}

#lobby li[game-box='JdbBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/JdbBoard.png");
}

#lobby li[game-box='KgHtml'] {
  background-image: url("../lobby/Board/KgHtml.jpg");
}

#lobby li[game-box='KgHtml']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/KgHtml.png");
}

#lobby li[game-box='LegBoard'] {
  background-image: url("../lobby/Board/LegBoard.jpg");
}

#lobby li[game-box='LegBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/LegBoard.png");
}

#lobby li[game-box='JsBoard'] {
  background-image: url("../lobby/Board/JsBoard.jpg");
}

#lobby li[game-box='JsBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/JsBoard.png");
}

#lobby li[game-box='VgBoard'] {
  background-image: url("../lobby/Board/VgBoard.jpg");
}

#lobby li[game-box='VgBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/VgBoard.png");
}

#lobby li[game-box='NwBoard'] {
  background-image: url("../lobby/Board/NwBoard.jpg");
}

#lobby li[game-box='NwBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/NwBoard.png");
}

#lobby li[game-box='FgBoard'] {
  background-image: url("../lobby/Board/FgBoard.jpg");
}

#lobby li[game-box='FgBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/FgBoard.png");
}

#lobby li[game-box='KyBoard'] {
  background-image: url("../lobby/Board/KyBoard.jpg");
}

#lobby li[game-box='KyBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/KyBoard.png");
}

#lobby li[game-box='LcBoard'] {
  background-image: url("../lobby/Board/LcBoard.jpg");
}

#lobby li[game-box='LcBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/LcBoard.png");
}

#lobby li[game-box='T365Board'] {
  background-image: url("../lobby/Board/T365Board.jpg");
}

#lobby li[game-box='T365Board']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/T365Board.png");
}

#lobby li[game-box='YgBoard'] {
  background-image: url("../lobby/Board/YgBoard.jpg");
}

#lobby li[game-box='YgBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/YgBoard.png");
}

#lobby li[game-box='AsBoard'] {
  background-image: url("../lobby/Board/AsBoard.jpg");
}

#lobby li[game-box='AsBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/AsBoard.png");
}

#lobby li[game-box='TyBoard'] {
  background-image: url("../lobby/Board/TyBoard.jpg");
}

#lobby li[game-box='TyBoard']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/TyBoard.png");
}

#lobby li[game-box='Cq9Board'] {
  background-image: url("../lobby/Board/Cq9Board.jpg");
}

#lobby li[game-box='Cq9Board']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/Board/Cq9Board.png");
}
/*# sourceMappingURL=Board.css.map */