#banner {
  background-image: url("../Lobby/Live/banner.jpg");
}

.game-list > li {
  position: relative;
  width: 333px;
  height: 283px;
  margin: 6px;
  background-position: center top 60px;
  background-color: #444242;
  border-style: ridge;
  border-width: 2px;
  border-color: #FFBB00;
  -webkit-box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.7) inset;
          box-shadow: 1px 1px 19px 2px rgba(0, 0, 0, 0.7) inset;
  cursor: pointer;
}

.game-list > li:before {
  content: '';
  position: absolute;
  top: 60px;
  left: 16px;
  display: inline-block;
  width: 298px;
  height: 202px;
  background: url("../Lobby/Board/enter.png") no-repeat center top;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.game-list > li:not([game-box='more']):hover:before {
  opacity: 1;
}

.game-list > li[game-box='more'] {
  cursor: default;
}

.game-list > li::after {
  content: '';
  width: 150px;
  height: 110px;
  right: 140px;
  top: -10px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 70% auto;
}

.game-list > li span {
  position: absolute;
  font-size: 21px;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  top: 10px;
  left: 150px;
}

.game-list > li div {
  position: absolute;
  font-size: 14px;
  color: #9A9796;
  text-shadow: 1px 1px 5px #000;
  top: 35px;
  left: 150px;
}

#lobby li[game-box='more'] {
  background-image: url("../lobby/live/more.jpg");
}

#lobby li[game-box='more']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/more.png");
}

#lobby li[game-box='AllBetReal'] {
  background-image: url("../lobby/live/AllBetReal.jpg");
}

#lobby li[game-box='AllBetReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/AllBetReal.png");
}

#lobby li[game-box='AgBr'] {
  background-image: url("../lobby/live/AgBr.jpg");
}

#lobby li[game-box='AgBr']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/AgBr.png");
}

#lobby li[game-box='BbinaLive'] {
  background-image: url("../lobby/live/BbinaLive.jpg");
}

#lobby li[game-box='BbinaLive']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/BbinaLive.png");
}

#lobby li[game-box='BgReal'] {
  background-image: url("../lobby/live/BgReal.jpg");
}

#lobby li[game-box='BgReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/BgReal.png");
}

#lobby li[game-box='EBetReal'] {
  background-image: url("../lobby/live/EBetReal.jpg");
}

#lobby li[game-box='EBetReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/EBetReal.png");
}

#lobby li[game-box='EvoReal'] {
  background-image: url("../lobby/live/EvoReal.jpg");
}

#lobby li[game-box='EvoReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/EvoReal.png");
}

#lobby li[game-box='GdReal'] {
  background-image: url("../lobby/live/GdReal.jpg");
}

#lobby li[game-box='GdReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/GdReal.png");
}

#lobby li[game-box='GpiLive'] {
  background-image: url("../lobby/live/GpiLive.jpg");
}

#lobby li[game-box='GpiLive']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/GpiLive.png");
}

#lobby li[game-box='HgaReal'] {
  background-image: url("../lobby/live/HgaReal.jpg");
}

#lobby li[game-box='HgaReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/HgaReal.png");
}

#lobby li[game-box='OgaReal'] {
  background-image: url("../lobby/live/OgaReal.jpg");
}

#lobby li[game-box='OgaReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/OgaReal.png");
}

#lobby li[game-box='PtaReal'] {
  background-image: url("../lobby/live/PtaReal.jpg");
}

#lobby li[game-box='PtaReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/PtaReal.png");
}

#lobby li[game-box='PtaLive'] {
  background-image: url("../lobby/live/PtaLive.jpg");
}

#lobby li[game-box='PtaLive']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/PtaLive.png");
}

#lobby li[game-box='PtbReal'] {
  background-image: url("../lobby/live/PtbReal.jpg");
}

#lobby li[game-box='PtbReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/PtbReal.png");
}

#lobby li[game-box='MgaReal'] {
  background-image: url("../lobby/live/MgaReal.jpg");
}

#lobby li[game-box='MgaReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/MgaReal.png");
}

#lobby li[game-box='SaReal'] {
  background-image: url("../lobby/live/SaReal.jpg");
}

#lobby li[game-box='SaReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/SaReal.png");
}

#lobby li[game-box='SbLive'] {
  background-image: url("../lobby/live/SbLive.jpg");
}

#lobby li[game-box='SbLive']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/SbLive.png");
}

#lobby li[game-box='SunbetReal'] {
  background-image: url("../lobby/live/SunbetReal.jpg");
}

#lobby li[game-box='SunbetReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/SunbetReal.png");
}

#lobby li[game-box='WmReal'] {
  background-image: url("../lobby/live/WmReal.jpg");
}

#lobby li[game-box='WmReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/WmReal.png");
}

#lobby li[game-box='RyReal'] {
  background-image: url("../lobby/live/RyReal.jpg");
}

#lobby li[game-box='RyReal']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/RyReal.png");
}

#lobby li[game-box='Ry2Real'] {
  background-image: url("../lobby/live/Ry2Real.jpg");
}

#lobby li[game-box='Ry2Real']::after {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v3/colorshadow/live/Ry2Real.png");
}
/*# sourceMappingURL=Live.css.map */