@charset "UTF-8";
/* #region base */
body {
  font-size: 13px;
  font-family: 'Microsoft YaHei';
  background-color: #fff;
}

body.layout {
  min-width: 1050px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

[ng-click] {
  cursor: pointer;
}

ol, ul {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#banner, #news, #content .wrapper, #footer {
  width: calc(100% - 200px);
  margin-left: 200px;
  min-width: 1050px;
}

#header .wrapper {
  height: 100%;
}

#content {
  min-width: 1250px;
}

/*#content .wrapper {
    min-width: 1050px;
}*/
.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* #endregion base */
/* #region LoginToGame */
#logingame-body {
  background: #3c260e;
}

/* #endregion LoginToGame */
/* #region header */
#header {
  position: fixed;
  width: 200px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f80882), to(#9c0351));
  background: -o-linear-gradient(#f80882, #9c0351);
  background: linear-gradient(#f80882, #9c0351);
  -webkit-box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}

/* #endregion header */
/* #region logo */
#logo-bg {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 90px;
  margin-top: 40px;
  text-align: center;
  background: url("../../../../_Common/Content/Views/Shared/images/logo_w.png") no-repeat;
  background-size: 100%;
  background-position: 20px center;
}

#logo-bg iframe {
  display: none;
}

#logo-bg > a {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 160px;
  height: 90px;
  margin: auto 20px;
}

/*#endregion logo */
/* #region top-nav */
#top-nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 80px;
  background: rgba(255, 255, 255, 0.15);
}

#top-nav li {
  float: left;
  line-height: 40px;
  text-align: center;
  width: 50%;
}

#top-nav li:first-child {
  width: 100%;
}

#top-nav li:nth-child(n+2) {
  line-height: 20px;
  margin: 10px auto;
}

#top-nav li:nth-child(2) {
  border-right: 1px solid #fff;
}

#top-nav li a {
  color: #fff;
  text-decoration: none;
}

#top-nav li a.reg,
#top-nav li a.freeplay {
  color: #e7ceb0;
}

#top-nav li a:hover {
  color: #0f0f0f;
}

#top-nav li a.home:before {
  display: none;
}

/* #endregion top-nav */
/* #region language 選擇語系 */
#language span {
  display: inline-block;
  margin: 0 2px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#language span:hover {
  border-radius: 50px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

#language span[data-language="zh-CN"] {
  background: url("../Shared/images/ch.gif") no-repeat;
}

#language span[data-language="zh-TW"] {
  background: url("../Shared/images/tw.gif") no-repeat;
}

#language span[data-language="en-US"] {
  background: url("../Shared/images/en.gif") no-repeat;
}

#language span[data-language="th"] {
  display: none;
}

/* #endregion language 選擇語系 */
/* #region nav 導覽列 */
#nav > ul {
  width: 100%;
}

#nav > ul > li {
  position: relative;
  width: 100%;
  height: 41px;
  margin: auto;
  line-height: 42px;
  text-align: center;
}

#nav > ul > li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#nav > ul > li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

#nav > ul > li:hover .subnav {
  display: block;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.2);
}

#nav > ul > li:hover .subnav:before {
  content: " ";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  left: -4px;
  top: 16px;
  -webkit-transform: rotate(50deg);
      -ms-transform: rotate(50deg);
          transform: rotate(50deg);
  background-color: inherit;
}

.subnav {
  display: none;
  position: absolute;
  top: 0;
  right: -316px;
  width: 316px;
  padding: 8px;
  text-align: center;
  z-index: 99;
}

.subnav li {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 34px;
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #0f0f0f;
  margin: 2px 0;
  float: left;
}

.subnav li:hover {
  color: #fff;
  background-color: #253655;
  border: 1px solid #829ca9;
  border-radius: 3px;
}

/* #endregion nav 導覽列 */
/* #region  用來包覆「免費試玩」和「帳號的動作操作與資訊顯示區塊 */
#account-bot {
  margin-bottom: 15px;
  position: absolute;
  top: -80px;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* #endregion  用來包覆「免費試玩」和「帳號的動作操作與資訊顯示區塊*/
/* #region loginbar 顯示「登入帳號」區塊 */
#account-box {
  display: inline-block;
  margin-top: 3px;
  height: 42px;
}

#account-box.is-login {
  margin-top: 7px;
}

#account-box > form {
  position: relative;
  display: inline-block;
  line-height: 42px;
}

#account-box > form input {
  width: 190px;
  height: 36px;
  padding: 0 10px;
  color: #292929;
  font-size: 13px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  border: 1px solid #d3d5d8;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#account-box > form input:hover {
  border: 1px solid #829ca9;
}

#account-box > form input:focus {
  border: 1px solid #f80882;
}

#account-box .login-btn,
#account-box .logout-btn,
#account-box .reg-btn,
#account-box .forget-btn {
  color: #fff;
  display: inline-block;
  width: 85px;
  height: 36px;
  line-height: 32px;
  font-size: 13px;
  border-radius: 3px;
  text-align: center;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#account-box .login-btn,
#account-box .logout-btn {
  background-color: #f80882;
  border-color: #f80882;
}

#account-box .login-btn:hover,
#account-box .logout-btn:hover {
  background-color: #ff5aae;
  border-color: #ff5aae;
}

#account-box .forget-btn {
  background-color: #0f0f0f;
  border-color: #0f0f0f;
}

#account-box .forget-btn:hover {
  background-color: #222;
  border-color: #222;
}

#account-box .reg-btn {
  width: 99px;
  color: #f80882;
  background-color: transparent;
  border: 1px solid #f80882;
  text-decoration: none;
  line-height: 34px;
}

#account-box .reg-btn:hover {
  color: #FFF;
  background-color: #f80882;
  border-color: #f80882;
}

#check-code-wrapper {
  position: relative;
  display: inline-block;
}

#captcha {
  position: absolute;
  top: 11px;
  right: 10px;
  width: auto;
  height: 19px;
}

#agree {
  display: inline-block;
  position: absolute;
  top: -30px;
  right: 132px;
  padding: 2px 5px;
  line-height: 20px;
  font-size: 13px;
  color: #a9a9a9;
  width: 186px;
}

#agree a {
  color: #f80882;
  cursor: pointer;
}

/* #endregion loginbar 顯示「登入帳號」區塊 */
/* #region account-info 登入後, 顯示「帳號資訊」區塊 */
ul#account-info > li {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  color: #2e4369;
  line-height: 36px;
  vertical-align: top;
}

ul#account-info > li > span.account {
  display: inline-block;
  max-width: 5em;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  overflow: hidden;
}

ul#account-info > li a {
  cursor: pointer;
}

ul#account-info > li a:hover {
  color: #f80882;
}

ul#account-info #member-level {
  color: #fff;
  background: #f80d82;
}

ul#account-info #member-level:before {
  background: #fff;
}

#action-box {
  display: inline-block;
  line-height: 36px;
  vertical-align: top;
}

#action-box > a {
  text-align: center;
  text-decoration: none;
}

#action-box .logout-btn,
#action-box .forget-btn {
  line-height: 36px;
}

/* #endregion account-info 登入後, 顯示「帳號資訊」區塊 */
/* #region account-nav 登入後的子導覽列 (帳號相關操作) */
ul#account-nav {
  text-align: right;
  vertical-align: top;
}

ul#account-nav > li {
  display: inline-block;
  line-height: 36px;
  background-color: #2e4369;
  border-radius: 3px;
  width: 85px;
  margin-right: 2px;
  text-align: center;
}

ul#account-nav > li:first-child {
  margin-left: 0;
}

ul#account-nav > li > a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  text-align: center;
}

ul#account-nav > li:hover {
  background-color: #253655;
}

ul#account-nav > li > a:hover {
  color: #fff;
}

/* #endregion 登入後的子導覽列 (帳號相關操作) */
/* #region banner */
#banner {
  height: 300px;
  background-image: url("../Shared/images/welcome_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/* #endregion banner */
/* #region news 跑馬燈 */
#news {
  position: relative;
  height: 38px;
  padding: 0 40px;
  background-color: #0f0f0f;
  z-index: 2;
}

#news .wrapper {
  width: 100%;
  position: relative;
  padding-left: 60px;
  background: none;
}

#news .wrapper:before {
  content: '最新消息';
  position: absolute;
  left: 0;
  line-height: 38px;
  color: #f80882;
}

#hot-news {
  white-space: nowrap;
  overflow: hidden;
}

#hot-news div.main-cell {
  width: 1000px;
  padding: 0 20px;
  overflow: hidden;
}

#hot-news li {
  display: inline-block;
  margin-right: 5px;
  color: #fff;
  font-size: 13px;
  line-height: 38px;
  vertical-align: top;
}

#hot-news li:hover {
  color: #f80882;
}

/* #endregion 跑馬燈 */
/* #region content 內頁 */
#content {
  padding: 80px 0 15px 0;
  background: #f6f7f9;
}

/* #endregion content 內頁 */
/* #region footer */
#footer {
  /*min-width: 1050px;*/
  height: 250px;
  text-align: center;
  background: #222;
}

#footer-info {
  width: 100%;
  height: 61px;
  background: #0f0f0f;
}

#footer-info ul {
  width: 1000px;
  height: 61px;
  background: url("../Shared/images/footer_info.png") no-repeat center;
}

#footer-info ul li {
  float: left;
  width: 250px;
  height: 45px;
  padding-top: 24px;
  color: #fff;
  font-size: 14px;
  text-align: left;
}

#footer-info ul li.QQ {
  padding-left: 70px;
}

#footer-info ul li.mail {
  padding-left: 45px;
}

#footer-info ul li.promotion {
  padding: 24px 20px 0 65px;
}

#footer-info ul li.chat {
  padding: 24px 15px 0 55px;
}

#footer-info ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#footer-nav {
  margin: 25px 0;
}

#footer-nav li {
  float: left;
}

#footer-nav a {
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#footer-nav a:hover {
  color: #ff0099;
  text-decoration: underline;
}

#footer-nav li a:before {
  content: '|';
  color: #6f8691;
  margin: 0 10px;
}

#footer-nav li:first-child a:before {
  display: none;
}

#footer-logo {
  padding-top: 60px;
  text-align: center;
  background: url("../Shared/images/footer_logo.png") no-repeat center top;
}

#footer-logo p {
  color: #7b7b7b;
}

/* #endregion footer */
/* #region 近期浏览 */
#review-list {
  position: fixed;
  bottom: -77px;
  left: 0;
  width: 100%;
  height: 77px;
  background: rgba(38, 55, 84, 0.8);
  color: #fff;
  z-index: 1;
  -webkit-transition: bottom 0.4s;
  -o-transition: bottom 0.4s;
  transition: bottom 0.4s;
}

#review-list.open {
  bottom: 0;
}

#review-list .up,
#review-list .down {
  position: absolute;
  top: -24px;
  left: 0;
  width: 150px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: url("../../../../_Common/Content/Views/Shared/images/review/tab.png") no-repeat;
}

#review-list .up:after,
#review-list .down:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  width: 7px;
  height: 8px;
}

#review-list .up:after {
  background: url("../../../../_Common/Content/Views/Shared/images/review/up.png") no-repeat;
}

#review-list .down:after {
  background: url("../../../../_Common/Content/Views/Shared/images/review/down.png") no-repeat;
}

#review-list .wrapper {
  padding-left: 80px;
  height: 77px;
  background: url("../../../../_Common/Content/Views/Shared/images/review/txt.png") no-repeat 20px 15px;
}

#review-box li {
  display: inline-block;
  position: relative;
  margin: 10px 8px 0;
  width: 60px;
  height: 60px;
}

#review-box li.no-review {
  line-height: 60px;
}

#review-box li img {
  width: 60px;
  height: 60px;
}

#review-box li div {
  display: none;
  position: absolute;
  top: -31px;
  left: -5px;
  padding-top: 2px;
  width: 70px;
  height: 29px;
  text-align: center;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: url("../../../../_Common/Content/Views/Shared/images/review/title.png") no-repeat;
}

#review-box li:hover div {
  display: block;
}

/* #endregion 近期浏览 */
/* #region mailbox 站内信 不同版请由此修改 */
#mailbox {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-decoration: none;
  background: url("../../../../_Common/Content/Views/Shared/images/m_icon.png") no-repeat;
}

#mailbox > span, #mailbox > span:hover {
  position: absolute;
  left: 80%;
  bottom: 60%;
  min-width: 16px;
  padding: 0 2px;
  height: 16px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
  border-radius: 5px;
  background: #f80882;
}

/* #endregion mailbox 站内信 不同版请由此修改 */
/* #region 彈跳視窗跑馬燈資訊內容 */
#marquee-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: none;
}

#marquee-wrapper.show {
  display: block;
  z-index: 1000;
  background-image: url("../../../../_Common/Content/Views/Shared/images/transparent-black.png");
}

#marquee {
  width: 600px;
  max-height: 500px;
  margin: 30px auto 0 auto;
  background-color: #fff;
  background-image: url("../../../../_Common/Content/Views/Shared/images/table_background.jpg");
  border-radius: 5px;
  cursor: default;
  -webkit-transition: margin-top ease-in 300ms;
  -o-transition: margin-top ease-in 300ms;
  transition: margin-top ease-in 300ms;
}

#marquee > header {
  text-align: center;
  background-color: #e9e9e9;
  border-bottom: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
}

#marquee > header > h2 {
  margin: 0;
  color: #0080e3;
  font-size: 21px;
  line-height: 60px;
}

ul#newsBags {
  margin: 0;
  padding: 10px 50px;
  max-height: 380px;
  overflow: auto;
}

ul#newsBags > li {
  color: #454545;
  font-size: 13px;
  line-height: 27px;
  list-style: disc;
  white-space: pre-line;
  border-bottom: 1px dashed #999;
}

#marquee > footer {
  text-align: center;
  line-height: 80px;
  background-color: #e9e9e9;
  background-image: -webkit-radial-gradient(center top, ellipse farthest-side, rgba(0, 0, 0, 0.3), transparent);
  background-size: 100% 8px;
  background-repeat: no-repeat;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
}

#marquee > footer > span {
  display: inline-block;
  width: 119px;
  font-size: 15px;
  font-weight: bolder;
  line-height: 45.5px;
  background-image: url("../../../../_Common/Content/Views/Shared/images/sent_bn.png");
  cursor: pointer;
}

#marquee > footer > span:hover {
  background-position: 0 -45.5px;
}

/* #endregion 彈跳視窗跑馬燈資訊內容 */
/* #region 弹跳出来的notice Dialog */
/* title 文字背景顏色此修改 */
.ui-widget-header {
  min-height: 30px;
  line-height: 30px;
}

.ui-dialog {
  z-index: 999;
}

.ui-dialog .ui-dialog-title {
  font-size: 13px;
  line-height: 15px;
}

.ui-dialog .ui-dialog-buttonpane {
  margin: 0;
  padding: 0;
  border: none;
}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only {
  font-size: 12px;
}

.ui-dialog .ui-dialog-buttonpane button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 3px 6px;
  background: #ffd800;
}

/* Directive: popup-dialog 若modal:true, 会出现fullscreen overlay, 下面可以设定样式 */
/* #endregion 弹跳出来的notice Dialog */
/*# sourceMappingURL=site.css.map */