<!DOCTYPE html>
<html @* xmlns:ng="http://angularjs.org" *@ id="ng-app" ng-app="portalApp" meidon-time="@ViewBag.MeiDonNow" @* 主機的美東時間 *@ moment-lang="@ViewBag.Language" @* 瀏覽器語系 *@ ng-init="'@Resources.Shared.Head_Title'">
<head>
    <title>welcome</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="../../../_Common/Content/Views/Shared/images/favicon.ico" />
    <link href="../../bundles/site.css" rel="stylesheet" />
    <link href="../../Content/Views/Home/index.css" rel="stylesheet" />
    <script src="../../../_Common/Scripts/jquery/v1.12.4/jquery.min.js"></script>
    <script src="../../bundles/include-html.js"></script>
</head>
<body class="layout" ng-controller="LayoutCtrl">
    <div id="top-header"></div>
    <header id="header"></header>
    <div id="banner"></div>
    <div id="news"></div>
    <div id="content">
        <div class="wrapper">
            <div id="home" ng-controller="HomeCtrl" class="ng-scope">
                <ul id="game-box">
                    <li data-img="sport">
                        <a href="../Lobby/Sport.html"></a>
                    </li>
                    <li data-img="live">
                        <a href="../Lobby/Live.html"></a>
                    </li>
                    <li data-img="game">
                        <a href="../Lobby/Game.html"></a>
                    </li>
                    <li data-img="lottery">
                        <a href="../Lobby/Lottery.html"></a>
                    </li>
                </ul>

                <ul id="right-box">
                    <li class="home-chat" ng-click="lineChatClick()"></li>
                    <li class="home-join"></li>
                </ul>
            </div>
        </div>
    </div>

    <footer id="footer"></footer>
    
</body>
</html>