#banner,
.banner,
#news,
.news {
  display: none;
}

article ul {
  margin: 20px 0;
}

#account-panel,
#withdrawal-panel {
  width: 90%;
}

.member-center {
  font-size: 0;
}

.member-center #articles h2 {
  line-height: 27px;
  padding: 10px 15px;
}

.member-center .panel-heading#title {
  font-size: 18px;
  line-height: 27px;
}

.member-center #memberHeader {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 0;
  color: #333;
  background: #f7f8fa;
}

.member-center #memberHeader .title {
  font-size: 26px;
  line-height: 40px;
  color: #fff;
  background: #555;
}

.member-center #memberHeader .infor {
  width: 100%;
  height: 70px;
  vertical-align: top;
  display: inline-block;
}

.member-center #memberHeader .infor ul {
  margin: 20px 10px;
}

.member-center #memberHeader .infor ul li {
  width: 25%;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}

.member-center #memberHeader .infor button {
  line-height: 20px;
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#ddd));
  background: -o-linear-gradient(#fbfbfb, #ddd);
  background: linear-gradient(#fbfbfb, #ddd);
}

.member-center #memberHeader .infor button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#fbfbfb));
  background: -o-linear-gradient(#ddd, #fbfbfb);
  background: linear-gradient(#ddd, #fbfbfb);
}

.member-center #memberCentent {
  width: 80%;
  margin-top: 0;
  font-size: 14px;
  display: inline-block;
  background: #f7f8fa;
}

.member-center .body,
.member-center #articles {
  width: 100%;
  margin: 0;
  padding: 0;
}

.member-center #memberAside {
  width: 18%;
  margin-right: 2%;
  display: inline-block;
  background: #f7f8fa;
  border: 1px solid #d9d9d9;
  border-top: none;
  vertical-align: top;
  font-size: 14px;
  text-align: left;
}

.member-center #memberAside > ul > li {
  line-height: 40px;
}

.member-center #memberAside > ul > li span {
  position: relative;
  border-top: 1px solid #d9d9d9;
}

.member-center #memberAside > ul > li span i {
  width: 30px;
  text-align: center;
  color: #6c6c6c;
}

.member-center #memberAside > ul > li span:before {
  content: '';
  position: absolute;
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #6c6c6c transparent transparent;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.member-center #memberAside > ul > li.open span, .member-center #memberAside > ul > li:hover span {
  background: #ededed;
}

.member-center #memberAside > ul > li.open span:before, .member-center #memberAside > ul > li:hover span:before {
  top: 18px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.member-center #memberAside > ul > li.open ul, .member-center #memberAside > ul > li:hover ul {
  display: block;
}

.member-center #memberAside > ul > li.active.open span, .member-center #memberAside > ul > li:hover span {
  color: #fff;
  background: #6c6c6c;
}

.member-center #memberAside > ul > li.active.open span i, .member-center #memberAside > ul > li:hover span i {
  color: #fff;
}

.member-center #memberAside > ul > li.active.open span:before, .member-center #memberAside > ul > li:hover span:before {
  border-color: transparent #fff transparent transparent;
}

.member-center #memberAside > ul > li ul {
  display: none;
}

.member-center #memberAside > ul > li ul li {
  line-height: 26px;
}

.member-center #memberAside > ul > li ul li a {
  padding-left: 30px;
}

.member-center #memberAside > ul > li ul li a:hover {
  color: #333;
  background: #dedede;
}

.member-center #memberAside > ul > li ul li.active {
  color: #333;
  background: #dedede;
}

.member-center #memberAside > ul > li a,
.member-center #memberAside > ul > li span {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: #333;
}
/*# sourceMappingURL=Index.css.map */