$MainColor: #630304;
$SecondColor: #bf8a44;

#banner {
    background-image: url('../Mgm/images/banner.jpg');
}

#invite-box .invite-list li p:first-child {
    color: $SecondColor;
}

#invite-box h3 {
    color: $MainColor;
}

#invite-box .icon-btn {
    background: $MainColor;
    &:before {
        background: $SecondColor;
    }
}

#invite-box b {
    color: $SecondColor;
}

#un-lobby {
    padding: 0;
    background: none;
    border: none;
}

#invite-box ul {
    width: 100%;
}

#invite-record.modal.in {
    table th {
        background: $MainColor;
    }
    .search-time button {
        background: $MainColor;
        &:hover {
            background: $SecondColor;
        }
    }
}

#content {
    z-index: auto;
}
