@import '../../../../_Common/Css/GameCode';

.banner {
    background: url('../Lobby/Sport/banner.jpg') center top no-repeat;
}

#lobby li {
    width: 31%;
    height: 362px;
    margin: 0 1% 15px;
    border: 1px solid #363f4b;
    background: url('../Lobby/Sport/more.jpg') no-repeat center top;
    position: relative;
    &:not([game-box='more']):hover {
        background-position: center bottom;
        span {
            background-color:#363f4b;
        }
    }
    span {
        position: absolute;
        font-size: 21px;
        color: #fff;
        font-weight: bold;
        letter-spacing: 2px;
        bottom: 0;
        left: 0;
        text-align: center;
        line-height: 60px;
        width: 100%;
        height: 60px;
        background-color:rgba(0,0,0,0.5);
    }
}
#lobby .game-list li[game-box='more'] span {
    color: #84827D;
}
// gamebox-list
@each $gamebox in $sport-list {
    #lobby li[game-box='#{$gamebox}'] {
        background-image: url('../lobby/Sport/#{$gamebox}.jpg');
    }
}

@each $gamebox in $esport-list {
    @if ($gamebox != 'more') {
        #lobby li[game-box='#{$gamebox}'] {
            background-image: url('../lobby/Esport/#{$gamebox}.jpg');
        }
    }
}