/* #region 針對type=number  會出現右邊上下箭頭做隐藏 */
input[type="number"] {
    appearance: none;
}

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none; /*for chrome*/
    }

    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none; /*for chrome*/
    }
/* #endregion 針對type=number  會出現右邊上下箭頭 */
legend {
    padding: 10px 0 5px;
    color: #333;
    font-size: 19px;
    font-weight: bold;
}

.form-group {
    margin: 7px 0;
}

    .form-group .control-label {
        width: 20%;
        color: #666;
        font-size: 15px;
        line-height: 24px;
    }

        .form-group .control-label .fa {
            color: #ff9c00;
        }

    .form-group .control-div {
        width: 30%;
        text-align: left;
        line-height: 24px;
    }

    .form-group .control-info {
        display: inline-block;
        width: 50%;
        text-align: left;
        font-size: 13px;
        line-height: 34px;
        color: #999;
    }

    .form-group .control-div input,
    #checkcode-input-group input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 5px 4px;
        font-size: 13px;
        line-height: 1.428571429;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    .form-group .control-div > label {
        display: inline-block;
    }

    .form-group .control-div input[type="radio"],
    .form-group .control-div input[type="checkbox"] {
        display: inline-block;
        width: 14px;
        height: 14px;
    }

.modal {
    background: rgba(0,0,0,0.5);
}

.modal-dialog {
    width: 700px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

fieldset {
    margin: 0 auto;
    border: none;
}

    fieldset button {
        display: inline-block;
        width: 49%;
        height: 36px;
        color: #fff;
        font-size: 16px;
        border: none;
        background: #555;
    }

        fieldset button:hover {
            background: #666;
        }

        fieldset button#btn-submit {
            background: #ff9c00;
        }

        fieldset button#btn-submit:hover {
            background: #fc0;
        }

.showMore {
    display: none;
}

#moreoption, .agreement {
    color: #0cbeed;
    cursor: pointer;
}

    #moreoption:hover,
    .agreement:hover {
        color: #0cd8ed;
    }

a.agreement:hover {
    text-decoration: underline;
}

.hasShow {
    display: block;
    transition: all linear 3s;
}
/*輸入驗證碼的群組*/
// #checkcode-input-group {
//     display: inline-block;
//     float: left;
//     width: 100%;
//     height: 34px;
//     background: #e5e5e5;
// }

//     #checkcode-input-group > input {
//         display: inline-block;
//         float: left;
//         width: 70%;
//     }

//     #checkcode-input-group > span {
//         float: left;
//         width: 30%;
//     }

.checkcode {
    position: relative;
}

    .checkcode img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

.modal-header {
    color: #fff;
    text-align: left;
    background: #808080;
}

.modal-content,
.modal-dialog,
.modal-body,
.modal-footer {
    background: #fff;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-body > ul {
    list-style-type: disc;
    padding-left: 30px;
}

    .modal-body > ul li {
        line-height: 2em;
    }

.modal-header > .modal-title {
    color: #fff;
    font-weight: normal;
}

.lineheight {
    color: #ff0000;
}

.last {
    margin: 30px 0 10px;
}
    .last button:nth-of-type(1) {
        margin-right: 2%;
    }

    .last .control-div {
        width: 50%;
    }
