#banner {
  display: block;
}

#content {
  background-image: url("../Lobby/Esport/content_bg.jpg");
}

#lobby {
  padding: 13px 0;
}

ul.game-list > li {
  width: 310px;
  height: 374px;
  margin: 15px;
  background: #000;
  border: 2px solid #fff;
  position: relative;
}

ul.game-list > li:not([game-box='more']):hover {
  background-position: center;
  background: #dd0023;
  border: 2px solid #dd0023;
  width: 310px;
  height: 374px;
}

ul.game-list > li span {
  position: absolute;
  font-size: 22px;
  color: #fff;
  bottom: 22px;
  width: 170px;
  height: 30px;
  background: transparent;
  right: 20px;
  letter-spacing: 2px;
  font-weight: 700;
}

ul.game-list > li div {
  display: none;
}

ul.game-list > li::before {
  content: '';
  width: 150px;
  height: 150px;
  bottom: -58px;
  left: 12px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 75% auto;
}

#lobby li[game-box='more'] {
  background-image: url("../lobby/Esport/more.jpg");
}

#lobby li[game-box='more']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/more.png");
}

#lobby li[game-box='EsbEsport'] {
  background-image: url("../lobby/Esport/EsbEsport.jpg");
}

#lobby li[game-box='EsbEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/EsbEsport.png");
}

#lobby li[game-box='Esb1Esport'] {
  background-image: url("../lobby/Esport/Esb1Esport.jpg");
}

#lobby li[game-box='Esb1Esport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/Esb1Esport.png");
}

#lobby li[game-box='SabaESport'] {
  background-image: url("../lobby/Esport/SabaESport.jpg");
}

#lobby li[game-box='SabaESport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/SabaESport.png");
}

#lobby li[game-box='HcEsport'] {
  background-image: url("../lobby/Esport/HcEsport.jpg");
}

#lobby li[game-box='HcEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/HcEsport.png");
}

#lobby li[game-box='CmdEsport'] {
  background-image: url("../lobby/Esport/CmdEsport.jpg");
}

#lobby li[game-box='CmdEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/CmdEsport.png");
}

#lobby li[game-box='SabaaEsport'] {
  background-image: url("../lobby/Esport/SabaaEsport.jpg");
}

#lobby li[game-box='SabaaEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/SabaaEsport.png");
}

#lobby li[game-box='E88Esport'] {
  background-image: url("../lobby/Esport/E88Esport.jpg");
}

#lobby li[game-box='E88Esport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/E88Esport.png");
}

#lobby li[game-box='GbEsport'] {
  background-image: url("../lobby/Esport/GbEsport.jpg");
}

#lobby li[game-box='GbEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/GbEsport.png");
}

#lobby li[game-box='GbsEsport'] {
  background-image: url("../lobby/Esport/GbsEsport.jpg");
}

#lobby li[game-box='GbsEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/GbsEsport.png");
}

#lobby li[game-box='LeEsport'] {
  background-image: url("../lobby/Esport/LeEsport.jpg");
}

#lobby li[game-box='LeEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/LeEsport.png");
}

#lobby li[game-box='AviaEsport'] {
  background-image: url("../lobby/Esport/AviaEsport.jpg");
}

#lobby li[game-box='AviaEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/AviaEsport.png");
}

#lobby li[game-box='Cq9Esport'] {
  background-image: url("../lobby/Esport/Cq9Esport.jpg");
}

#lobby li[game-box='Cq9Esport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/Cq9Esport.png");
}

#lobby li[game-box='TfEsport'] {
  background-image: url("../lobby/Esport/TfEsport.jpg");
}

#lobby li[game-box='TfEsport']::before {
  background-image: url("../../../../_Common/Content/Views/Shared/images/logo/v1/white/Esport/TfEsport.png");
}
/*# sourceMappingURL=Esport.css.map */