@import '../../../../_Common/Css/GameCode';

#banner {
    display: block;
}

#content {
    background-image: url('../Lobby/Lottery/content_bg.jpg');
}

#lobby {
    padding: 12px 0;
}

ul.game-list > li {
    width: 322px;
    height: 295px;
    margin: 10px;
    background: #202020;
    border: 2px solid #fff;
    position: relative;
    &:not([game-box='more']):hover {
        background-position: center;
        background: #dd0023;
        border: 2px solid #dd0023;
        width: 322px;
        height: 295px;
    }
    span {
        position: absolute;
        font-size: 22px;
        color: #fff;
        background: transparent;
        width: 197px;
        height: 56px;
        padding: 10px 0;
        bottom: 0;
        left: 0;
        letter-spacing: 2px;
        font-weight: 700;
    }
    div {
        display: none;
    }
    &::before {
        content: '';
        width: 150px;
        height: 150px;
        top: -5px;
        right: -40px;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 65% auto;
    }
    &:not([game-box='more'])::after {
        content: '进入游戏';
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 2px;
        position: absolute;
        color: #fff;
        width: 100px;
        height: 27px;
        text-align: center;
        padding: 5px;
        bottom: 10px;
        right: 10px;
        border: 0.5px solid #fff;
    }
}
ul.game-list > li[game-box='more'] span {
    width: 322px;
    text-align: center;
}
// gamebox-list
@each $gamebox in $lottery-list {
    #lobby li[game-box='#{$gamebox}'] {
        background-image: url('../lobby/Lottery/#{$gamebox}.jpg');
        &::before {
            background-image: url('../../../../_Common/Content/Views/Shared/images/logo/v1/colorshadow/Lottery/#{$gamebox}.png');
            // background-image: url('../lobby/Lottery/logo/#{$gamebox}.png');
        }
    }
}
