<div id="change-pwd" class="panel panel-default">
    <div id="title" class="panel-heading">
        <div>变更密码</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="alert-chg-pwd" class="alert alert-info">
                <i class="fa fa-info-circle"></i>
                请注意，密码变更完成后，您将需要立即以新密码重新登入
            </div>
        </div>
        <form ng-controller="AccountChangePasswordCtrl" ng-submit="change(params)" class="form-horizontal ng-scope ng-pristine ng-invalid ng-invalid-required">
            <div class="form-group">
                <label class="control-label">原始密码</label>
                <div class="control-div">
                    <div class="input-block">
                        <i class="input-block-top"></i>
                        <input type="password" placeholder="请输入您的原始密码" ng-model="params.oldPassword" required="" class="ng-pristine ng-invalid ng-invalid-required">
                        <i class="input-block-btm"></i>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-warning': same}">
                <label class="control-label">新密码</label>
                <div class="control-div">
                    <div class="input-block">
                        <i class="input-block-top"></i>
                        <input type="password" placeholder="请输入您欲变更的密码" ng-model="params.newPassword" required="" class="ng-pristine ng-invalid ng-invalid-required">
                        <i class="input-block-btm"></i>
                    </div>
                </div>
                <!-- ngIf: same -->
            </div>
            <div class="form-group" ng-class="{'has-error': notConfirm}">
                <label class="control-label">确认新密码</label>
                <div class="control-div">
                    <div class="input-block">
                        <i class="input-block-top"></i>
                        <input type="password" placeholder="请再次输入您的新密码" ng-model="confirm" required="" class="ng-pristine ng-invalid ng-invalid-required">
                        <i class="input-block-btm"></i>
                    </div>
                </div>
                <!-- ngIf: notConfirm -->
            </div>
            <div class="form-group">
                <div>
                    <button ng-disabled="isProcessing" class="btn btn-default btn-submit">
                        <span ng-bind="isProcessing ? '处理中...' : '变更'" class="ng-binding">变更</span>
                    </button>
                    <button type="button" ng-click="cancel()" class="btn btn-default btn-submit">
                        取消
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>