@import '../../../../_Common/Css/GameCode';

#banner {
    background-image: url('../Lobby/Live/banner.jpg');
}

#content {
    min-height: 735px;
    overflow: hidden;
}

#lobby ul.game-list {
    margin: 25px auto;
    li {
        width: 273px;
        height: 321px;
        margin: 10px;
    }
}

// gamebox-list
@each $gamebox in $live-list {
    #lobby li[game-box='#{$gamebox}'] {
        background-image: url('../lobby/live/#{$gamebox}.jpg');
    }
}
