$MainColor: #8f72d8;
$SecondColor: #ffc74e;

#banner {
    background-image: url('../Mgm/images/banner.jpg');
}

#invite-box .invite-list li p:first-child {
    color: $SecondColor;
}

#invite-box h3 {
    color: $MainColor;
}

#invite-box .icon-btn {
    background: $MainColor;
    &:before {
        background: $SecondColor;
    }
}

#invite-box b {
    color: $SecondColor;
}

#invite-record.modal.in {
    table th {
        background: $MainColor;
    }
    .search-time button {
        background: $MainColor;
        &:hover {
            background: $SecondColor;
        }
    }
}
