$game-list: "more",
"AgHtml",
"BbinaSlot",
"Cq9Html",
"FsHtml",
"GaHtml",
"GnsHtml",
"GpiHtml",
"GpiFlash",
"HabaHtml",
"IsbHtml",
"JdbHtml",
"LgHtml",
"MgaHtml",
"MgaFlash",
"MwHtml",
"MwSlot",
"NeHtml",
"Ne2Slot",
"PgHtml",
"PngHtml",
"PrgHtml",
"PrgFlash",
"PtaHtml",
"PtaFlash",
"PtbSlot",
"PtsHtml",
"SgHtml",
"SgFlash",
"RtHtml",
"TpgHtml",
"AeSlot",
"JpSlot",
"RtgSlot",
"QtSlot",
"PsSlot",
"Pg1Slot",
"GanSlot",
"HbSlot",
"BgSlot",
"VrSlot";
$live-list: "more",
"AllBetReal",
"AgBr",
"BbinaLive",
"BgReal",
"EBetReal",
"EvoReal",
"GdReal",
"GpiLive",
"HgaReal",
"OgaReal",
"PtaReal",
"PtaLive",
"PtbReal",
"MgaReal",
"SaReal",
"SbLive",
"SunbetReal",
"WmReal",
"RyReal",
"Ry2Real";
$sport-list: "more",
"SingSport",
"Sing2Sport",
"AgSport",
"BbinaSport",
"CmdSport",
"IboSport",
"HLSport",
"ImaSport",
"M8Sport",
"SabaaSport",
"SababSport",
"SV388Sport",
"HRBSport",
"ZfbSport",
"E88Sport",
"GbSport",
"GbsSport",
"QtSport",
"BtiSport",
"Cq9Sport";
$esport-list: "more",
"EsbEsport",
"Esb1Esport",
"SabaESport",
"HcEsport",
"CmdEsport",
"SabaaEsport",
"E88Esport",
"GbEsport",
"GbsEsport",
"LeEsport",
"AviaEsport",
"Cq9Esport",
"TfEsport";
$board-list: "more",
"City761Board",
"JdbBoard",
"KgHtml",
"LegBoard",
"JsBoard",
"VgBoard",
"NwBoard",
"FgBoard",
"KyBoard",
"LcBoard",
"T365Board",
"YgBoard",
"AsBoard",
"TyBoard",
"Cq9Board";
$lottery-list: "more",
"BbinaLottery",
"IgLottery",
"IgLotto",
"IgaLottery",
"IgaLotto",
"LxLottery",
"VrLottery",
"AplLottery",
"G1Lottery",
"G1aLottery",
"GbLottery",
"GblLottery",
"SgwLottery",
"BgLottery",
"Ig1Lottery",
"Ig1Lotto";
$fish-list: "more",
"City761Fish",
"AgHsr",
"BbFish30",
"BbFish38",
"Cq9Fish",
"FsFishBeauty",
"FsFishThunder",
"FsFishBird",
"FsFishHappy",
"FsFishEveryDay",
"GnsFish",
"JdbFishMoney",
"JdbFish",
"Jdb2Fish",
"MwFish",
"PgFish",
"Pg2Fish",
"PtFish",
"PtsFish",
"UgFish",
"TpgFish",
"QtFish",
"Qt2Fish",
"RtgFish",
"PsFish",
"Tpg2Fish",
"Tpg3Fish",
"BgFish";