#banner {
  background-image: url("../Lobby/Lottery/banner.jpg");
}

#content {
  background-image: url("../Lobby/Lottery/background.jpg");
}

.game-list > li {
  width: 320px;
  height: 370px;
  margin-bottom: 20px;
  background-color: #2f2f2f;
  border-bottom: 8px solid #585858;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.game-list > li:nth-child(3n + 2) {
  margin: 0 20px;
}

.game-list > li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 299px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.game-list > li:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  border-bottom: 8px solid #0088fe;
}

.game-list > li:hover:before {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

#lobby li[game-box='more']:before {
  background-image: url("../lobby/Lottery/more.jpg");
}

#lobby li[game-box='BbinaLottery']:before {
  background-image: url("../lobby/Lottery/BbinaLottery.jpg");
}

#lobby li[game-box='IgLottery']:before {
  background-image: url("../lobby/Lottery/IgLottery.jpg");
}

#lobby li[game-box='IgLotto']:before {
  background-image: url("../lobby/Lottery/IgLotto.jpg");
}

#lobby li[game-box='IgaLottery']:before {
  background-image: url("../lobby/Lottery/IgaLottery.jpg");
}

#lobby li[game-box='IgaLotto']:before {
  background-image: url("../lobby/Lottery/IgaLotto.jpg");
}

#lobby li[game-box='LxLottery']:before {
  background-image: url("../lobby/Lottery/LxLottery.jpg");
}

#lobby li[game-box='VrLottery']:before {
  background-image: url("../lobby/Lottery/VrLottery.jpg");
}

#lobby li[game-box='AplLottery']:before {
  background-image: url("../lobby/Lottery/AplLottery.jpg");
}

#lobby li[game-box='G1Lottery']:before {
  background-image: url("../lobby/Lottery/G1Lottery.jpg");
}

#lobby li[game-box='G1aLottery']:before {
  background-image: url("../lobby/Lottery/G1aLottery.jpg");
}

#lobby li[game-box='GbLottery']:before {
  background-image: url("../lobby/Lottery/GbLottery.jpg");
}

#lobby li[game-box='GblLottery']:before {
  background-image: url("../lobby/Lottery/GblLottery.jpg");
}

#lobby li[game-box='SgwLottery']:before {
  background-image: url("../lobby/Lottery/SgwLottery.jpg");
}

#lobby li[game-box='BgLottery']:before {
  background-image: url("../lobby/Lottery/BgLottery.jpg");
}

#lobby li[game-box='Ig1Lottery']:before {
  background-image: url("../lobby/Lottery/Ig1Lottery.jpg");
}

#lobby li[game-box='Ig1Lotto']:before {
  background-image: url("../lobby/Lottery/Ig1Lotto.jpg");
}

.game-list > li[game-box='more']:hover:before {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.game-list > li span {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 320px;
  height: 60px;
  color: #0088fe;
  font-size: 24px;
  text-align: center;
  line-height: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.game-list > li[game-box="more"] span {
  color: #58584F;
}

.game-list > li:hover span {
  bottom: -25px;
}

.game-list > li[game-box="more"]:hover span {
  bottom: -20px;
}

.game-list > li[game-box="more"]:hover {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  border-bottom: 8px solid #585858;
  background-color: #2f2f2f;
}

.game-list > li[game-box="more"]:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=Lottery.css.map */