#un-lobby {
    background: none;
}
/*#region 遊戲分類樣式 */
ul.navtab {
    width: 970px;
    margin: 0 auto 10px;
}

    ul.navtab li {
        display: inline-block;
        height: 30px;
        padding: 0 15px;
        margin-right: 5px;
        color: #f80982;
        font-size: 14px;
        line-height: 26px;
        border: 2px solid #f80982;
        border-radius: 3px;
    }

        ul.navtab li.tab,
        ul.navtab li:hover {
            color: #fff;
            background: #f80982;
        }
/*#endregion 遊戲分類樣式 */

/*#region 優惠區塊 */
ul.discount {
    margin: 0 auto;
    padding: 0px 20px;
    width: 100%;
}

    ul.discount > li {
        width: 100%;
    }

        ul.discount > li:first-child {
            margin-bottom: 5px;
        }

            ul.discount > li:first-child > img {
                width: 100%;
            }

        /*優惠內文顏色*/
        ul.discount > li.content {
            color: #fff;
            text-align: justify;
            overflow-x: auto;
        }

li.content img {
    /*li.content padding多少  就要margin負多少 */
}

li.content h3 {
}

li.content h4 {
}

li.content h5 {
}

li.content p {
}

li.content dd {
    margin-left: 0;
}

li.content table {
    width: 100%;
}

    li.content table tr,
    li.content table th,
    li.content table td {
        line-height: 2em;
        text-align: center;
    }

    li.content table th {
    }

li.content ol {
    padding-left: 20px;
    list-style-type: decimal;
}

li.content ul {
    padding-left: 20px;
    list-style-type: disc;
}

li.content ol li {
}

li.content .highlight {
    color: #f00;
}

/*#endregion 優惠區塊 */
