#articles ul li {
    margin: 10px 0;
}

    #articles ul li:before {
        content: '';
        display: inline-block;
        width: 50px;
        height: 44px;
        vertical-align: middle;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: left center;
    }

    #articles ul li.chat:before {
        background-image: url('/CdnRedirect/Web.Portal/AF004-01.Portal/Content/Views/Contact/images/chat.png');
    }

    #articles ul li.tel:before {
        background-image: url('/CdnRedirect/Web.Portal/AF004-01.Portal/Content/Views/Contact/images/tel.png');
    }

    #articles ul li.mail:before {
        background-image: url('/CdnRedirect/Web.Portal/AF004-01.Portal/Content/Views/Contact/images/mail.png');
    }

    #articles ul li.chat span {
        display: inline-block;
        margin-left: 10px;
        width: 80px;
        height: 20px;
        background: #0084e0;
        color: #fff;
        line-height: 20px;
        text-align: center;
    }
