#banner {
    background-image: url('http://www.a20.gjsoft.cc/Content/Views/Lobby/Board/banner.jpg');
}

#lobby > .game-list {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}

.game-list > li {
    width: 320px;
    height: 320px;
    margin: 0 6px 20px;
    border: 1px solid #453925;
    overflow: hidden;
}

    .game-list > li:not([game-box="more"]):hover {
        border: 2px solid #fde2a4;
    }

    .game-list > li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .game-list > li:not([game-box="more"]):hover:before {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
        -ms-transform: scale(1.2,1.2);
        transform: scale(1.2,1.2);
        opacity: .5;
    }

    .game-list > li:after {
        content: '立即进入';
        font-size: 20px;
        color: #fff;
        line-height: 40px;
        position: absolute;
        bottom: -45px;
        width: 130px;
        height: 40px;
        border: 1px solid #fde2a4;
        display: inline-block;
        border-radius: 5px;
        left: 50%;
        margin-left: -65px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        text-align: center;
    }

    .game-list > li:hover:after {
        top: 50%;
        margin-top: -20px;
        background: rgba(253,226,164,.35);
        cursor: pointer;
    }

ul.game-list > li[game-box="kg"]:before {
    background-image: url('http://www.a20.gjsoft.cc/Content/Views/Lobby/Board/kg.jpg');
}

ul.game-list > li[game-box="js"]:before {
    background-image: url('http://www.a20.gjsoft.cc/Content/Views/Lobby/Board/js.jpg');
}

ul.game-list > li[game-box="vg"]:before {
    background-image: url('http://www.a20.gjsoft.cc/Content/Views/Lobby/Board/vg.jpg');
}

ul.game-list > li[game-box="leg"]:before {
    background-image: url('http://www.a20.gjsoft.cc/Content/Views/Lobby/Board/leg.jpg');
}

.game-list > li[game-box="more"]:before {
    background-image: url('http://www.a20.gjsoft.cc/Content/Views/Lobby/Board/more.png');
}

.game-list > li[game-box="more"]:hover:after {
    display: none;
}
