/* #region 針對type=number  會出現右邊上下箭頭做隐藏 */
input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none; /*for chrome*/
    }

    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none; /*for chrome*/
    }
/* #endregion 針對type=number  會出現右邊上下箭頭 */
.form-group .control-label {
    color: #5d7079;
    font-size: 13px;
    line-height: 48px;
}

    .form-group .control-label .fa {
        color: #00b9ff;
    }

.form-group .control-div {
    width: 50%;
    text-align: left;
    line-height: 48px;
}

.form-group .control-info {
    display: inline-block;
    display: none;
    width: 30%;
    text-align: left;
}

.form-group .control-div input,
#checkcode-input-group input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #5d7079;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d3d5d8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form-group .control-div input:hover,
#checkcode-input-group input:hover {
    border-color: #829ca9;
}

.form-group .control-div input:focus,
#checkcode-input-group input:focus {
    border-color: #00b9ff;
    outline: none;
}

.form-group .control-div > label {
    display: inline-block;
}

.form-group .control-div input[type="radio"],
.form-group .control-div input[type="checkbox"] {
    display: inline-block;
    padding: 0;
    width: 14px;
    height: 14px;
}

.modal {
    background: rgba(0,0,0,0.5);
}

.modal-dialog {
    width: 700px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

fieldset {
    width: 700px;
    margin: 20px auto 10px;
    border: 1px solid #e2e6e8;
}

legend {
    padding: 0 10px;
    margin-left: 10px;
    color: #2e4369;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Microsoft JhengHei';
}

.agree .control-div label {
    color: #473308;
    font-size: 14px;
}

.agreement {
    color: #6eb6ff;
    font-size: 14px;
    font-family: 'Microsoft JhengHei';
    cursor: pointer;
}

    .agreement:hover {
        color: #2a6496;
    }

a.agreement:hover {
    text-decoration: underline;
}

.hasShow {
    display: block;
    -webkit-transition: all linear 3s;
    -moz-transition: all linear 3s;
    -ms-transition: all linear 3s;
    -o-transition: all linear 3s;
    transition: all linear 3s;
}
/*輸入驗證碼的群組*/
#checkcode-input-group {
    display: inline-block;
    float: left;
    width: 200px;
    height: 48px;
    background: #e5e5e5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    #checkcode-input-group > input {
        display: inline-block;
        float: left;
        width: 70%;
    }

    #checkcode-input-group > span {
        float: left;
        width: 30%;
        height: 48px;
    }

.checkcode {
    position: relative;
}

    .checkcode img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
    }

#btn-submit {
    width: 105px;
    height: 48px;
    padding: 0;
    margin-left: 15px;
    color: #fff;
    font-size: 15px;
    font-family: 'Microsoft JhengHei';
    background-color: #00b9ff;
    line-height: 48px;
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

    #btn-submit:hover {
        background-color: #00a4df;
        background-position: center bottom;
    }

.modal-header {
    color: #fff;
    text-align: left;
    background: #808080;
}

.modal-content,
.modal-dialog,
.modal-body,
.modal-footer {
    background: #fff;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-body > ul {
    list-style-type: disc;
    padding-left: 30px;
}

    .modal-body > ul li {
        line-height: 2em;
    }

.modal-header > .modal-title {
    color: #fff;
    font-weight: normal;
}

.lineheight {
    color: #ff0000;
}
