#banner {
  background-image: url("../Lobby/Sport/banner.jpg");
}

ul.game-list > li {
  width: 320px;
  height: 322px;
  margin: 10px 4px;
}

ul.game-list > li span {
  content: '';
  position: absolute;
  font-size: 21px;
  color: #999;
  bottom: 17px;
  left: 0;
  width: 320px;
  height: 20px;
}

ul.game-list > li div {
  display: none;
}

#lobby li[game-box='more'] {
  background-image: url("../lobby/Sport/more.png");
}

#lobby li[game-box='SingSport'] {
  background-image: url("../lobby/Sport/SingSport.png");
}

#lobby li[game-box='Sing2Sport'] {
  background-image: url("../lobby/Sport/Sing2Sport.png");
}

#lobby li[game-box='AgSport'] {
  background-image: url("../lobby/Sport/AgSport.png");
}

#lobby li[game-box='BbinaSport'] {
  background-image: url("../lobby/Sport/BbinaSport.png");
}

#lobby li[game-box='CmdSport'] {
  background-image: url("../lobby/Sport/CmdSport.png");
}

#lobby li[game-box='IboSport'] {
  background-image: url("../lobby/Sport/IboSport.png");
}

#lobby li[game-box='HLSport'] {
  background-image: url("../lobby/Sport/HLSport.png");
}

#lobby li[game-box='ImaSport'] {
  background-image: url("../lobby/Sport/ImaSport.png");
}

#lobby li[game-box='M8Sport'] {
  background-image: url("../lobby/Sport/M8Sport.png");
}

#lobby li[game-box='SabaaSport'] {
  background-image: url("../lobby/Sport/SabaaSport.png");
}

#lobby li[game-box='SababSport'] {
  background-image: url("../lobby/Sport/SababSport.png");
}

#lobby li[game-box='SV388Sport'] {
  background-image: url("../lobby/Sport/SV388Sport.png");
}

#lobby li[game-box='HRBSport'] {
  background-image: url("../lobby/Sport/HRBSport.png");
}

#lobby li[game-box='ZfbSport'] {
  background-image: url("../lobby/Sport/ZfbSport.png");
}

#lobby li[game-box='E88Sport'] {
  background-image: url("../lobby/Sport/E88Sport.png");
}

#lobby li[game-box='GbSport'] {
  background-image: url("../lobby/Sport/GbSport.png");
}

#lobby li[game-box='GbsSport'] {
  background-image: url("../lobby/Sport/GbsSport.png");
}

#lobby li[game-box='QtSport'] {
  background-image: url("../lobby/Sport/QtSport.png");
}

#lobby li[game-box='BtiSport'] {
  background-image: url("../lobby/Sport/BtiSport.png");
}

#lobby li[game-box='Cq9Sport'] {
  background-image: url("../lobby/Sport/Cq9Sport.png");
}

#lobby li[game-box='EsbEsport'] {
  background-image: url("../lobby/Esport/EsbEsport.png");
}

#lobby li[game-box='Esb1Esport'] {
  background-image: url("../lobby/Esport/Esb1Esport.png");
}

#lobby li[game-box='SabaESport'] {
  background-image: url("../lobby/Esport/SabaESport.png");
}

#lobby li[game-box='HcEsport'] {
  background-image: url("../lobby/Esport/HcEsport.png");
}

#lobby li[game-box='CmdEsport'] {
  background-image: url("../lobby/Esport/CmdEsport.png");
}

#lobby li[game-box='SabaaEsport'] {
  background-image: url("../lobby/Esport/SabaaEsport.png");
}

#lobby li[game-box='E88Esport'] {
  background-image: url("../lobby/Esport/E88Esport.png");
}

#lobby li[game-box='GbEsport'] {
  background-image: url("../lobby/Esport/GbEsport.png");
}

#lobby li[game-box='GbsEsport'] {
  background-image: url("../lobby/Esport/GbsEsport.png");
}

#lobby li[game-box='LeEsport'] {
  background-image: url("../lobby/Esport/LeEsport.png");
}

#lobby li[game-box='AviaEsport'] {
  background-image: url("../lobby/Esport/AviaEsport.png");
}

#lobby li[game-box='Cq9Esport'] {
  background-image: url("../lobby/Esport/Cq9Esport.png");
}

#lobby li[game-box='TfEsport'] {
  background-image: url("../lobby/Esport/TfEsport.png");
}
/*# sourceMappingURL=Sport.css.map */