@import '../../../../_Common/Css/GameCode';

#banner {
    background-image: url('../Lobby/Sport/banner.jpg');
}

ul.game-list > li {
    width: 320px;
    height: 322px;
    margin: 10px 4px;
    span {
        content: '';
        position: absolute;
        font-size: 21px;
        color: #999;
        bottom: 17px;
        left: 0;
        width: 320px;
        height: 20px;
    }
    div {
        display: none;
    }
}

// gamebox-list
@each $gamebox in $sport-list {
    #lobby li[game-box='#{$gamebox}'] {
        background-image: url('../lobby/Sport/#{$gamebox}.png');
    }
}

@each $gamebox in $esport-list {
    @if ($gamebox != 'more') {
        #lobby li[game-box='#{$gamebox}'] {
            background-image: url('../lobby/Esport/#{$gamebox}.png');
        }
    }
}

