<!DOCTYPE html>
<html @* xmlns:ng="http://angularjs.org" *@ id="ng-app" ng-app="portalApp" meidon-time="@ViewBag.MeiDonNow" @* 主機的美東時間 *@ moment-lang="@ViewBag.Language" @* 瀏覽器語系 *@ ng-init="'@Resources.Shared.Head_Title'">

<head>
    <title>銀聯掃碼支付</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="../../../_Common/Content/Views/Shared/images/favicon.ico" />
    <link href="../../bundles/site.css" rel="stylesheet" />
    <link href="../../../_Common/Content/Views/OnlineDeposit/Index.css" rel="stylesheet" />
    <script src="../../../_Common/Scripts/jquery/v1.12.4/jquery.min.js"></script>
    <script src="../../bundles/include-html.js"></script>
</head>
<body>
    <div class="container body">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div id="panel-online-deposit" class="panel panel-default">
                    <div id="title" class="panel-heading">銀聯掃碼支付</div>
                    <div class="panel-body">
                        <form method="post" class="form-horizontal" action="/OnlineDeposit/Create" name="depositForm">
                            <div class="form-group">
                                <label class="col-xs-3 control-label">金額</label>
                                <div class="col-xs-7">
                                    <div id="input-group-amount" class="input-group">
                                        <span class="input-group-addon">￥</span>
                                        <input type="number" name="amount" min="1" max="2000" class="form-control" placeholder="2,000以下" required="">
                                    </div> 
                                </div>
                            </div>
                            <div class="actionbar center-block">
                                <button class="btn btn-default btn-submit" disabled="disabled">
                                    <span>確認</span>
                                </button>
                            </div> 
                        </form>
                        <div class="panel-shadow"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>