@import '../../../../_Common/Css/GameCode';

#banner {
    background-image: url('../Lobby/Board/banner.jpg');
}

#lobby li {
    width: 390px;
    height: 300px;
    background: #ccc;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    transition: all 0.2s linear;
    &:nth-child(n + 4) {
        margin-top: 16px;
    }
    span {
        content: '';
        position: absolute;
        display: inline-block;
        bottom: 0;
        left: 0;
        color: #fff;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        z-index: 2;
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.2s linear;
    }
    &:not([game-box='more']):hover {
        span {
            bottom: 50%;
            margin-bottom: -25px;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 3px;
            width: 60%;
            margin-right: 20%;
            margin-left: 20%;
        }
        &:not([game-box='more']) {
            background-size: 110%;
        }
    }
    & + li:not(:nth-child(3n + 1)) {
        margin-left: 15px;
    }
}
#lobby li[game-box='more']::after {
    transform: none;
    transition: transform none;
    background: none;
    opacity: 0;
}
// gamebox-list
@each $gamebox in $board-list {
    #lobby [game-box='#{$gamebox}'] {
        background-image: url('../lobby/Board/#{$gamebox}.jpg');
    }
}
