@import '../../../../_Common/Css/GameCode';

#banner {
    background-image: url('../Lobby/Lottery/banner.jpg');
}

.game-list > li {
    width: 408px;
    height: 302px;
    margin: 20px;
    border-radius: 0.25rem;
    box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.15);
    background-size: 100% 100%;
    transition: all 0.2s linear;
    position: relative;
    &:not([game-box='more']):hover {
        box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.25);
        transform: scale(1.05, 1.05);
    }
    span {
        position: absolute;
        right: 15px;
        top: 15px;
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: #fff;
        background: #00517b;
        border-radius: 10px;
        width: 100px;
        height: 20px;
        line-height: 21px;
        letter-spacing: 1px;
    }
    div {
        display: none;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 70px;
        bottom: -17px;
        left: 160px;
        background-repeat: no-repeat;
        background-size: 80% auto;
    }
}

// gamebox-list
@each $gamebox in $lottery-list {
    #lobby li[game-box='#{$gamebox}'] {
        background-image: url('../lobby/Lottery/#{$gamebox}.jpg');
        &::before {
            background-image: url('../../../../_Common/Content/Views/Shared/images/logo/v2/white/Lottery/#{$gamebox}.png');
            // background-image: url('../lobby/Lottery/logo/#{$gamebox}.png');
        }
    }
}
