<aside>
    <ul>
        <li class="active open">
            <span><i class="fa fa-shield"></i>安全设置</span>
            <ul>
                <li class="active">
                    <a data-load="WithdrawApplication">綁定銀行卡</a>
                </li>
                <li>
                    <a data-load="Account/ChangePassword">修改登入密碼</a>
                </li>
                <li>
                    <a data-load="Account/ChangeMoneyPassword">修改取款密碼</a>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="fa fa-money"></i>资金管理</span>
            <ul>
                <li>
                    <a href="javascript:void(0)" onclick="accountPopup()">帳戶餘額</a>
                </li>
                <li>
                    <a data-load="Deposit">存款</a>
                </li>
                <li>
                    <a data-load="WithdrawApplication">取款</a>
                </li>
                <li>
                    <a data-load="Transaction">交易記錄</a>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="fa fa-newspaper-o"></i>投注记录</span>
            <ul>
                <li>
                    <a data-load="BetRecord">投注记录</a>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="fa fa-users"></i>推荐好友</span>
            <ul>
                <li>
                    <a data-load="Mgm">推荐好友</a>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="fa fa-trophy"></i>活動專區</span>
            <ul>
                <li>
                    <a href="javascript:void(0)">時時返水</a>
                </li>
                <li>
                    <a href="../LuckyWheel/index.html" target="_blank">幸運輪盤</a>
                </li>
            </ul>
        </li>
        <li>
            <span><i class="fa fa-comments"></i>公告消息</span>
            <ul>
                <li>
                    <a data-load="SiteMail">站內通知</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>