#lobby {
  display: block;
  width: 1000px;
  margin-left: -10px;
}

#lobby > ul.game-list > li {
  width: 327px;
  height: 346px;
  margin: 3px;
  padding-top: 265px;
  background-position: 50% 50%;
  background-size: 100% 100%;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  position: relative;
}

#lobby > ul.game-list > li span {
  font-size: 48px;
  color: #fff;
  position: absolute;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  top: 37px;
  right: 20px;
  display: inline-block;
}

#lobby > ul.game-list > li span p {
  font-size: 35px;
  font-weight: bold;
}

#lobby > ul.game-list > li div {
  display: none;
}

#lobby > ul.game-list > li:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-box-shadow: 0 0 300px 300px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 300px 300px rgba(0, 0, 0, 0.5) inset;
}

#lobby > ul.game-list > li:hover span {
  color: #5d5757cc;
}

ul.game-list > li:after {
  content: '';
  display: block;
  width: 105px;
  height: 39px;
  margin: 0 auto;
  background: url("../Lobby/Esport/enter.png") no-repeat center top;
}

ul.game-list > li:hover:after {
  background-position: center bottom;
}

#lobby li[game-box='more'] {
  background-image: url("../lobby/Esport/more.jpg");
}

#lobby li[game-box='EsbEsport'] {
  background-image: url("../lobby/Esport/EsbEsport.jpg");
}

#lobby li[game-box='Esb1Esport'] {
  background-image: url("../lobby/Esport/Esb1Esport.jpg");
}

#lobby li[game-box='SabaESport'] {
  background-image: url("../lobby/Esport/SabaESport.jpg");
}

#lobby li[game-box='HcEsport'] {
  background-image: url("../lobby/Esport/HcEsport.jpg");
}

#lobby li[game-box='CmdEsport'] {
  background-image: url("../lobby/Esport/CmdEsport.jpg");
}

#lobby li[game-box='SabaaEsport'] {
  background-image: url("../lobby/Esport/SabaaEsport.jpg");
}

#lobby li[game-box='E88Esport'] {
  background-image: url("../lobby/Esport/E88Esport.jpg");
}

#lobby li[game-box='GbEsport'] {
  background-image: url("../lobby/Esport/GbEsport.jpg");
}

#lobby li[game-box='GbsEsport'] {
  background-image: url("../lobby/Esport/GbsEsport.jpg");
}

#lobby li[game-box='LeEsport'] {
  background-image: url("../lobby/Esport/LeEsport.jpg");
}

#lobby li[game-box='AviaEsport'] {
  background-image: url("../lobby/Esport/AviaEsport.jpg");
}

#lobby li[game-box='Cq9Esport'] {
  background-image: url("../lobby/Esport/Cq9Esport.jpg");
}

#lobby li[game-box='TfEsport'] {
  background-image: url("../lobby/Esport/TfEsport.jpg");
}

ul.game-list > li[game-box='more'] {
  -webkit-box-shadow: 0 0 300px 300px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 300px 300px rgba(0, 0, 0, 0.5) inset;
}

ul.game-list > li[game-box='more']:after {
  display: none;
}

#lobby > ul.game-list > li[game-box='more']:hover {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  -o-transition: transform;
  transition: transform;
  transition: transform, -webkit-transform;
}

#lobby > ul.game-list > li[game-box='more'] > span {
  color: #70726E;
  top: 268px;
  left: 27px;
  font-size: 35px;
}
/*# sourceMappingURL=Esport.css.map */