#Union .menu li {
    display: inline-block;
    width: 100px;
    text-align: center;
    background: #151515;
    line-height: 30px;
    color: #fff;
    border-bottom: 3px solid #e62026;
}
    
    #articles ul.mtab-menual li.mtab,
    #Union .menu li:hover {
        background: #e62026;
    }