.banner {
    background: url('../Promotion/images/banner.jpg') no-repeat center top;
}

#unlobby-title {
    display: none;
}

/*#region 遊戲分類樣式 */
ul.navtab {
    display: inline-block;
    width: 950px;
    padding: 0;
    margin: 10px auto;
}

    ul.navtab li {
        float: left;
        display: inline-block;
        height: 38px;
        margin-right: 10px;
        padding: 0 10px;
        color: #fff;
        font-size: 14px;
        font-family: 'Microsoft JhengHei';
        line-height: 38px;
        background: #6577D9;
    }

        ul.navtab li.tab,
        ul.navtab li:hover {
            background: #0e86ca;
        }
/*#endregion 遊戲分類樣式 */
#un-lobby {
    padding: 25px;
}

#un-lobby > div > ul.discount {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #fff;
    line-height: 1.6em;
}

    #un-lobby > div > ul.discount > li:first-child {
        margin: 0 auto;
        padding-bottom: 5px;
        cursor: pointer;
    }

    #un-lobby > div > ul.discount > li.content {
        margin: 0 auto 20px;
        padding: 20px;
        text-align: left;
        border: 1px solid #243964;
        background: #021622;
    }

        #un-lobby > div > ul.discount > li.content > h4 {
            font-weight: normal;
            color: #ff9600;
        }
