#top-menu li {
    padding: 0 7px;
    text-transform: uppercase;
}

#account-box > form .login-btn, #account-box > form .join-btn {
    font-size: 12px;
}

#account-box > form .forget-btn {
    left: 255px;
}

#nav > ul > li {
    font-size: 14px;
    text-transform: uppercase;
}

#action-box a {
    font-size: 12px;
}

#action-box .login-btn {
    left: 108px;
}

#footer-nav {
	width: 600px;
}

#lobby > .game-list > li:not(.more):before {
	content: "Play now";
}

ul#account-info > li > span.account {
	max-width: 5em;
}