@charset "UTF-8";
#banner {
  background: url("../Lobby/Sport/banner.jpg") no-repeat center #251630;
}

#lobby .game-list li {
  width: 305px;
  height: 345px;
  margin: 5px 5px 35px;
  position: relative;
}

#lobby .game-list li span {
  margin-top: 350px;
}

#lobby .game-list li div {
  display: none;
}

#lobby .game-list li:hover {
  -webkit-transform: translate3d(0, -2%, 0);
          transform: translate3d(0, -2%, 0);
  -webkit-transition: -webkit-transform .1s linear;
  transition: -webkit-transform .1s linear;
  -o-transition: transform .1s linear;
  transition: transform .1s linear;
  transition: transform .1s linear, -webkit-transform .1s linear;
}

#lobby .game-list li:hover div {
  top: 10px;
  left: 15px;
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  display: block;
}

#lobby .game-list li:hover::before {
  content: '';
  width: 305px;
  height: 345px;
  position: absolute;
  background-repeat: no-repeat;
  background-position-y: -10px;
  background-position-x: -10px;
  top: 0;
  left: 0;
  background-image: url("../lobby/Sport/light.png");
  background-color: rgba(37, 22, 48, 0.7);
}

#lobby .game-list li:hover:not([game-box='more'])::after {
  content: '进入游戏';
  width: 270px;
  height: 48px;
  color: #ffc001;
  background: rgba(131, 121, 134, 0.6);
  position: absolute;
  bottom: 20px;
  left: 16px;
  font-size: 21px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 48px;
  text-align: center;
  border: 1px solid #837986;
  font-weight: lighter;
  letter-spacing: 1px;
}

#lobby .game-list li[game-box='more'] div {
  top: 10px;
  left: 15px;
  text-align: left;
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  display: block;
}

#lobby .game-list li[game-box='more']::before {
  content: '';
  width: 305px;
  height: 345px;
  position: absolute;
  background-repeat: no-repeat;
  background-position-y: -6px;
  background-position-x: -10px;
  top: 0;
  left: 0;
  background-image: url("../lobby/Sport/light.png");
  background-color: transparent;
}

#lobby .game-list li[game-box='more']:hover {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#lobby li[game-box='more'] {
  background-image: url("../lobby/Sport/more.jpg");
}

#lobby li[game-box='SingSport'] {
  background-image: url("../lobby/Sport/SingSport.jpg");
}

#lobby li[game-box='Sing2Sport'] {
  background-image: url("../lobby/Sport/Sing2Sport.jpg");
}

#lobby li[game-box='AgSport'] {
  background-image: url("../lobby/Sport/AgSport.jpg");
}

#lobby li[game-box='BbinaSport'] {
  background-image: url("../lobby/Sport/BbinaSport.jpg");
}

#lobby li[game-box='CmdSport'] {
  background-image: url("../lobby/Sport/CmdSport.jpg");
}

#lobby li[game-box='IboSport'] {
  background-image: url("../lobby/Sport/IboSport.jpg");
}

#lobby li[game-box='HLSport'] {
  background-image: url("../lobby/Sport/HLSport.jpg");
}

#lobby li[game-box='ImaSport'] {
  background-image: url("../lobby/Sport/ImaSport.jpg");
}

#lobby li[game-box='M8Sport'] {
  background-image: url("../lobby/Sport/M8Sport.jpg");
}

#lobby li[game-box='SabaaSport'] {
  background-image: url("../lobby/Sport/SabaaSport.jpg");
}

#lobby li[game-box='SababSport'] {
  background-image: url("../lobby/Sport/SababSport.jpg");
}

#lobby li[game-box='SV388Sport'] {
  background-image: url("../lobby/Sport/SV388Sport.jpg");
}

#lobby li[game-box='HRBSport'] {
  background-image: url("../lobby/Sport/HRBSport.jpg");
}

#lobby li[game-box='ZfbSport'] {
  background-image: url("../lobby/Sport/ZfbSport.jpg");
}

#lobby li[game-box='E88Sport'] {
  background-image: url("../lobby/Sport/E88Sport.jpg");
}

#lobby li[game-box='GbSport'] {
  background-image: url("../lobby/Sport/GbSport.jpg");
}

#lobby li[game-box='GbsSport'] {
  background-image: url("../lobby/Sport/GbsSport.jpg");
}

#lobby li[game-box='QtSport'] {
  background-image: url("../lobby/Sport/QtSport.jpg");
}

#lobby li[game-box='BtiSport'] {
  background-image: url("../lobby/Sport/BtiSport.jpg");
}

#lobby li[game-box='Cq9Sport'] {
  background-image: url("../lobby/Sport/Cq9Sport.jpg");
}

#lobby li[game-box='EsbEsport'] {
  background-image: url("../lobby/Esport/EsbEsport.jpg");
}

#lobby li[game-box='Esb1Esport'] {
  background-image: url("../lobby/Esport/Esb1Esport.jpg");
}

#lobby li[game-box='SabaESport'] {
  background-image: url("../lobby/Esport/SabaESport.jpg");
}

#lobby li[game-box='HcEsport'] {
  background-image: url("../lobby/Esport/HcEsport.jpg");
}

#lobby li[game-box='CmdEsport'] {
  background-image: url("../lobby/Esport/CmdEsport.jpg");
}

#lobby li[game-box='SabaaEsport'] {
  background-image: url("../lobby/Esport/SabaaEsport.jpg");
}

#lobby li[game-box='E88Esport'] {
  background-image: url("../lobby/Esport/E88Esport.jpg");
}

#lobby li[game-box='GbEsport'] {
  background-image: url("../lobby/Esport/GbEsport.jpg");
}

#lobby li[game-box='GbsEsport'] {
  background-image: url("../lobby/Esport/GbsEsport.jpg");
}

#lobby li[game-box='LeEsport'] {
  background-image: url("../lobby/Esport/LeEsport.jpg");
}

#lobby li[game-box='AviaEsport'] {
  background-image: url("../lobby/Esport/AviaEsport.jpg");
}

#lobby li[game-box='Cq9Esport'] {
  background-image: url("../lobby/Esport/Cq9Esport.jpg");
}

#lobby li[game-box='TfEsport'] {
  background-image: url("../lobby/Esport/TfEsport.jpg");
}

#lobby .game-list li:hover {
  background-position: top;
}
/*# sourceMappingURL=Sport.css.map */