@import '../../../../_Common/Css/GameCode';

#banner {
    background-image: url('../Lobby/Lottery/banner.jpg');
}

#lobby ul.game-list li {
    width: 465px;
    height: 294px;
    width: 47.5%;
    margin: 1%;
    position: relative;
    &:not([game-box='more'])::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 220px 190px 0 0;
        border-color: #ff7700 transparent transparent transparent;
        position: absolute;
        top: 7px;
        opacity: .8;
        left: 0;
    }
    span {
        position: absolute;
        top: 80px;
        left: 16px;
        width: 100px;
        height: 30px;
        background: transparent;
        font-size: 12px;
        font-weight: lighter;
        color: #fff;
        text-shadow: 1px 1px 8px #817164;
    }
    div {
        display: none;
    }
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        width: 100px;
        height: 70px;
        z-index: 1;
        top: 15px;
        left: 15px;
        background-size: 105% auto;
    }
}
#lobby ul.game-list li[game-box='more'] > span {
    font-size: 42px;
    top: 120px;
    left: 134px;
    width: 200px;
    letter-spacing: 2px;
    color: #deb39d;
}
// gamebox-list
@each $gamebox in $lottery-list {
    #lobby li[game-box='#{$gamebox}'] {
        background-image: url('../lobby/Lottery/#{$gamebox}.jpg');
        &:after {
            background-image: url('../../../../_Common/Content/Views/Shared/images/logo/v2/white/Lottery/#{$gamebox}.png');
            // background-image: url('../lobby/Lottery/logo/#{$gamebox}.png');
        }
    }
}
