/* #region header */
#search {
    background-color: #f60;
}
/* #endregion header */

/* #region nav */
nav {
    background-color: #f60;
}

#game-nav > li span:hover,
#game-nav > li.active span {
    background-color: #000;
}

ol.subnav > li {
    background-color: #fddb00;
}

    ol.subnav > li:hover {
        color: #fff;
        background-color: #f2941a;
    }
/* #endregion nav */

/* #region recommend-list */
#recommend-list .slick-dots li.slick-active,
#recommend-list .slick-dots li.slick-active:hover,
#recommend-list .slick-prev:hover,
#recommend-list .slick-next:hover {
    background-color: #fddb00;
}

#recommend-list .list-title {
    border-bottom: 2px solid #fddb00;
}

    #recommend-list .list-title span {
        color: #000;
        background-color: #fddb00;
    }

    #recommend-list .list-title a {
        color: #fddb00;
    }
/* #endregion recommend-list */

/* #region game-list */
.game-list li:hover {
    background-color: #f60;
    border-color: #f60;
}

    .game-list li:hover .game-logo:before {
        background-image: url('../../../../_Common/Content/Views/SlotCasino/LG/hover.png');
    }

    .game-list li:hover .game-text {
        color: #fff;
    }
/* #endregion game-list */

/* #region pager */
#pager > li[ng-click]:hover {
    color: #fff;
    background-color: #f60;
}
/* #endregion pager */
