/* #region header */
#search {
    background-color: #68b022;
}
/* #endregion header */

/* #region nav */
nav {
    background-color: #68b022;
}

#game-nav > li > span {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#game-nav > li:hover > span,
#game-nav > li.active > span {
    color: #fff;
    font-weight: bold;
    background-color: #000;
}

ol.subnav > li:hover {
    color: #fff;
    background-color: #000;
}
/* #endregion nav */

/* #region recommend-list */
#recommend-list .slick-dots li.slick-active,
#recommend-list .slick-dots li.slick-active:hover,
#recommend-list .slick-prev:hover,
#recommend-list .slick-next:hover {
    background-color: #60bb00;
}

#recommend-list .list-title {
    border-bottom: 2px solid #60bb00;
}

    #recommend-list .list-title span {
        background-color: #60bb00;
    }

    #recommend-list .list-title a {
        color: #60bb00;
    }
/* #endregion recommend-list */

/* #region 游戏列表区块 */
.game-list li {
    border-color: #60bb00;
}

    .game-list li:hover {
        background-color: #68b022;
        border-color: #68b022;
    }

        .game-list li:hover .game-logo:before {
            background-image: url('../../../../_Common/Content/Views/SlotCasino/NETENT/hover.png');
        }

        .game-list li:hover .game-text {
            color: #000;
        }
/* #endregion 游戏列表区块 */

/* #region pager */
#pager li[ng-click]:hover {
    background-color: #68b022;
}
/* #endregion pager */
