/* #region header */
#search {
    background-color: #333;
}
/* #endregion header */

/* #region nav */
nav {
    background-color: #333;
}

#game-nav > li > span {
    font-weight: bold;
}

#game-nav > li:hover > span,
#game-nav > li.active > span {
    background-color: #f00;
}

ol.subnav > li {
    background-color: #333;
}

    ol.subnav > li:hover {
        background-color: #f00;
    }
/* #endregion nav */

/* #region recommend-list */
#recommend-list .slick-dots li.slick-active,
#recommend-list .slick-dots li.slick-active:hover,
#recommend-list .slick-prev:hover,
#recommend-list .slick-next:hover {
    background-color: #333;
}

#recommend-list .list-title {
    border-bottom: 2px solid #333;
}

    #recommend-list .list-title span {
        background-color: #333;
    }

    #recommend-list .list-title a {
        color: #333;
    }
/* #endregion recommend-list */

/* #region game-list */
.game-list li {
    border-color: #333;
}

    .game-list li:hover {
        background-color: #333;
    }

        .game-list li:hover .game-logo:before {
            background-image: url('../../../../_Common/Content/Views/SlotCasino/PTS/hover.png');
        }

        .game-list li:hover .game-text {
            color: #fff;
        }
/* #endregion game-list */

/* #region pager */
#pager > li {
    color: #fff;
    background-color: #333;
}

    #pager > li[ng-click]:hover {
        background-color: #f00;
    }
/* #endregion pager */
